extends ../shared/template
block content
  .container-fluid
    .row
      .col-xs-6
        #map(data-lat='#{vacation.lat}', data-lng='#{vacation.lng}', data-name='#{vacation.name}', style='height:350px;')
      .col-xs-6
        .row
          .row
            .col-xs-12
              h3= vacation.name
          .row
            .col-xs-12
              table.table
                thead
                  tr
                    th Start
                    th End
                    th # Photos
                tbody
                  tr
                    td= moment(vacation.startDate).format('MMM Do YY')
                    td= moment(vacation.endDate).format('MMM Do YY')
                    td= vacation.photos.length
          .row
            .col-xs-12
              form.form-horizontal(role='form', method='post', action='/vacations/#{vacation._id}/photos/new')
                .form-group
                  label.col-sm-2.control-label(for='url') Image URL:
                  .col-sm-10
                    input.form-control#name(type='text', name='url', placeholder='http://image.com/photo.jpg')
                .form-group
                  .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type='submit') Add Image
    .row
      .col-xs-12
        each photo in vacation.photos
          .photo(style='background-image:url(#{photo});')

block scripts
  script(src='/js/user/vacation-show.js')

