extends ../shared/template
block content
  .container-fluid
    .row
      .col-xs-6
        #map(data-lat='#{vacation.lat}', data-lng='#{vacation.lng}', data-name='#{vacation.name}', style='height:350px;')
      .col-xs-6
        .row
          .row
            .col-xs-12
              h3= vacation.name
          .row
            .col-xs-12
              table.table
                thead
                  tr
                    th Start
                    th End
                    th # Photos
                tbody
                  tr
                    td= moment(vacation.startDate).format('MMM Do YY')
                    td= moment(vacation.endDate).format('MMM Do YY')
                    td= vacation.photos.length
          .row
            .col-xs-12
              form(role='form', method='post', action='/vacations/#{vacation._id}/photos/download')
                .form-group
                  label(for='url') Photo URL
                  input.form-control#url(type='text', name='url')
                button.btn.btn-success(type='submit') Add Photo
          .row
            .col-xs-12
              form(role='form', method='post', action='/vacations/#{vacation._id}/photos/upload', enctype='multipart/form-data')
                .form-group
                  label(for='photos') Photos
                  input.form-control#photos(type='file', name='photos', multiple=true)
                button.btn.btn-success(type='submit') Add Photo
    .row
      .col-xs-12
        each photo in vacation.photos
          a(href='#{photo}'): .photo(style='background-image:url(#{photo});')

block scripts
  script(src='/js/user/vacation-show.js')

